@keyframes bounce-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  70% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-div {
  animation: bounce-up-down 1s ease-in-out infinite;
}
